*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
ol,
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.hidden{
    display: none;
}

.clear{
    clear: both;
}

video, 
img{
    display: block;
}

body{
    background: #E3E3E6;
    font-size: 14px;
    height: 100vh;
    color: #F1F1F5;
}

button{
    cursor: pointer;
    border: none;
    background: transparent;
    color: inherit;
    font-size: inherit;
}

.workspace{
    height: 100vh;
    overflow: hidden;
}

.workspace .layout-divide{
    height: calc(100vh - 38px);
}

.menubar{
    float: left;
    width: 100%;
    height: 38px;
    min-height: 38px;
    padding: 0 38px;
    background: #201E1D;
    color: inherit;
}

.menubar,
.menubar > ul > li,
.toolbar{
    z-index: 10;
}

.menubar > ul > li{
    position: relative;
    float: left;
}

.menubar > ul > li > button{
    width: 100%;
    height: 38px;
    padding: 0 16px;
    line-height: 38px;
    transition: 0.3s ease-in-out;
}

.toolbar button:hover,
.menubar > ul > li > ul > li:hover, 
.menubar > ul > li:hover > button{
    background-color: #A4A4A6;
    cursor: pointer;
}

.menubar > ul > li > ul{
    display: none;
    position: absolute;
    width: 200px;
    opacity: 1;
}

.menubar > ul > li > ul > li{
    background-color: #201E1D;
    padding: 6px 4px;
}

.menubar > ul > li:hover > ul{
    display: block;
}

.layout-divide{
    display: flex;
    display: -ms-flexbox;
}

aside.toolbar{
    border-top: 1px solid #E9E8EB;
}

.toolbar{
    min-width: 38px;
    width: 38px;
    height: 100%;
    /* padding: 16px 0; */
    background-color: #201E1D;
}

.toolbar button{
    width: 100%;
    padding: 12px 0;
    text-align: center;
    font-size: 20px;
    line-height: 18px;
}

.middle-area{
    position: relative;
    width: 100%;
}

/* work-area */
.work-area{
    position: relative;
    width: 100%;
    height: calc(100% - 74px);
    overflow: auto;
}

#canvas-wrapper{
    position: absolute;
    left: 0;
    top: 0;
}

.work-area .work-range{
    position: relative;
    overflow: auto;
}

.work-range{
    float: left;
}

.work-video-area{
    display: none;
    position: absolute;
    overflow: auto;
    padding: 12px 4px 4px;
    border: 3px solid #201E1D;
    background-color: #333;
    border-radius: 4px;
    transition: border 0.5s ease-in-out;
}

.work-video-area.moving{
    cursor: move;
    transition: border 0.5s ease-in-out;
}

.work-video-area.moving h3{
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.work-video-area.active{
    display: block;
}

.work-video-area .file-title{
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 400;
    color: #EEEEEE;
    vertical-align: top;
}

.work-video-area .file-title .material-icons{
    font-size: 16px;
    vertical-align: bottom;
}

#video-wrapper video{
    display: block;
}

#waveform-wrapper{
    position: absolute;
    bottom: 0;
    width: calc(100% - 2px); /* border * 2 - 해줘야 함 */
    background-color: #E3E3E6;
    border-top: 5px solid #201E1D;
    border-bottom: 5px solid #201E1D;
    border-left: 1px solid #E9E8EB;
    border-right: 1px solid #E9E8EB;
    box-sizing: content-box;
}

#waveform{
    /* position: absolute; */
    width: 100%;
    /* box-sizing: content-box; */
}

/* 상태 변화 */
/*play-pause*/
#volumeController > span:nth-child(3),
#volumeController.active > span:nth-child(2),
#playPause.active > span:first-child,
#playPause > span:last-child{
    display: none;
}

#volumeController.active > span:nth-child(3),
#volumeController > span:nth-child(2),
#playPause > span:first-child,
#playPause.active > span:last-child{
    display: inline-block;
}
/*play-pause*/

#volumeController{
    position: relative;
}

#volumeController > div{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    padding: 12px 8px;
    line-height: 22px;
    background-color: #201E1D;
}

#volumeController.toggle > div{
    display: block;
}

#possibleScale.toggle{
    background: #A4A4A6;
    transition: 0.3s ease-in-out;
}
/* 상태 변화 */

/* work-area */

/* right-aside */
.right-aside-info{
    display: flex;
    display: -ms-flexbox;
    max-width: 278px;
    min-width: 278px;
    height: 100%;
    background-color: #201E1D;
    border-top: 1px solid #E9E8EB;
    overflow: auto;
    transition: 0.5s ease-in-out;
}

.right-aside-info .toolbar{

}

.right-aside-info section{
    width: 100%;
    border-left: 1px solid #E9E8EB;    
}

.right-aside-info h4{
    position: sticky;
    top: 0;
    /* margin-bottom: 12px; */
    padding: 12px 4px;
    background: #201E1D;
}

.right-aside-info.close{
    transform: translateX(calc(100% - 38px));
    overflow: hidden;
}

.right-aside-info.close{
    max-width: 38px;
    min-width: 38px;
}

.right-aside-info h4{
    font-weight: 400;
}

.work-footer{
    padding: 4px 0 0;
}

.work-footer .info > div:first-child{
    float: left;
}

.work-footer .info > div:last-child{
    float: right;
}

/* clip-list */
.clip-list{
    border-bottom: 1px solid #E9E8EB;
}

.clip-list .clip{
    padding: 4px;
    border-top: 1px solid #E9E8EB;
}

.clip-list .clip video{
    width: 100%;
    margin-top: 4px;
    object-fit: cover;
}

.clip-list .clip .open-btn{
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
    width: 100%;
    padding: 8px;
    border: 1px solid #E9E8EB;
    border-radius: 4px;
    text-align: left;
    background: #333;
}

.clip-list .frames{
    display: flex;
    display: -ms-flexbox;
    margin-top: 4px;
}

.clip-list .frames img{
    width: 20%;
}

.clip-list .clip .material-icons{
    font-size: 18px;
    vertical-align: bottom;
}

.clip-list .clip.open-and-close .frames,
.clip-list .clip.open-and-close .clip-video-container{
    display: none;
}
/* clip-list */
/* right-aside */

/* scroll-bar */
.right-aside-info::-webkit-scrollbar,
.work-area::-webkit-scrollbar{
    width: 12px;
    height: 12px;
}

.right-aside-info::-webkit-scrollbar-thumb,
.work-area::-webkit-scrollbar-thumb{
    background-color: #A4A4A6;
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 6px;
}
F1F1F5
.right-aside-info::-webkit-scrollbar-track,
.work-area::-webkit-scrollbar-track{
    background: #F1F1F5;
    border: 2px solid #201E1D;
}
/* scroll-bar */

@media screen {
    
}

/*
COLOR CODES
#201E1D
#101C1E
#638B9A
#A5C8DF
#D8E7DB
#D0D3DA
#4A5945
#ACAF80
#EADCBD
#E9E8EB 중요색
#F1F1F5

바탕: E3E3E6
메뉴, 툴, 사이드: 201E1D
서브: 333
강조 메뉴바 or 툴바 or 사이드 메뉴바: A4A4A6
글자: F1F1F5
경고, 에러: F01107
완료: 44F252
진행중: FF6E26
보더: E9E8EB
알람: 333 < background
*/

